* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  font-family: "Dosis";
}

body {
  background-color: rgb(203 213 225);
}

input {
  accent-color: #d1d5db;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}
